[submodule "colcon_ws/src/omni_wheel_controller"]
	path = colcon_ws/src/omni_wheel_controller
	url = https://github.com/hijimasa/omni_wheel_controller
[submodule "colcon_ws/src/simulation_ros2_utils"]
	path = colcon_ws/src/simulation_ros2_utils
	url = https://github.com/REACT-ROBOT/simulation_ros2_utils
[submodule "colcon_ws/src/topic_based_ros2_control"]
	path = colcon_ws/src/topic_based_ros2_control
	url = https://github.com/hijimasa/topic_based_ros2_control.git
[submodule "colcon_ws/src/simulation_interfaces"]
	path = colcon_ws/src/simulation_interfaces
	url = https://github.com/ros-simulation/simulation_interfaces.git
[submodule "colcon_ws/src/ROS-TCP-Endpoint"]
	path = colcon_ws/src/ROS-TCP-Endpoint
	url = https://github.com/hijimasa/ROS-TCP-Endpoint.git
